.delay-0{
    
    animation-delay: 0ms
}

.delay-1{
    animation-delay: 300ms
}

.delay-2{
    animation-delay: 600ms
}

.delay-3{
    animation-delay: 900ms
}

.delay-4{
    animation-delay: 1200ms
}

.delay-5{
    animation-delay: 1500ms
}