@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));




input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

button{
  outline:none;
}



@theme{
  --color-primary: #0069ff;
  --color-white: white;
  --color-black: black;
  --color-body:#efefef;
--animate-fadeIn: fadeIn 1s ease-in-out both;
--animate-fadeOut: fadeOut 1s ease-in-out both;

  @keyframes fadeIn {
    0%
  {
    opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

   @keyframes fadeOut {
    0%
  {
    opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}

